@import url('Themes.css');

.game-button {
    filter: var(--game-button-filter);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.game-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.game-button:hover:not(:disabled) {
    transform: scale(1.1);
}

.game-button img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.game-icon {
    width: 100%;
    height: auto;
    max-width: 256px;
}
