@import url('Themes.css');

.password-recovery-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    align-self: flex-start;
}

.recovery-form {
    display: flex;
    flex-direction: column;
}

.recovery-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.recovery-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color-third);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.recovery-form button {
    padding: 10px;
    cursor: pointer;
    background-color: var(--button-blue);
    color: var(--general-bg-color-body);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.recovery-form button:hover {
    background-color: var(--button-green-hover);
}

.recovery-success {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--button-green);
    color: var(--general-bg-color-body);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}
