.password-update-form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-top: 20vh;
}

.password-update-form {
    display: grid;
    grid-template-columns: 150px 1fr 60px;
    align-items: center;
    gap: 15px 10px;
}

.password-update-form label {
    margin-right: 10px;
    text-align: right;

}

.password-update-form input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;

}

.password-update-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-password-button {
    width: 40%;
    align-self: center;
}